@import "tailwindcss";

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

::-ms-reveal {
  display: none;
}

:root {
  --primary: #DC1A32;
  --secondary: #FFFFFF;
  --tertiary: #F5F5F5;
  --quaternary: #333333;
}

@layer components {
  .bg-primary {
    background-color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .bg-tertiary {
    background-color: var(--tertiary);
  }

  .bg-quaternary {
    background-color: var(--quaternary);
  }

  .btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
  }

  .btn-secondary {
    background-color: var(--secondary);
    color: var(--primary);
  }

  .btn-tertiary {
    background-color: var(--tertiary);
    color: var(--quaternary);
  }

  .btn-quaternary {
    background-color: var(--quaternary);
    color: var(--secondary);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .border-secondary {
    border-color: var(--secondary);
  }

  .border-tertiary {
    border-color: var(--tertiary);
  }

  .border-quaternary {
    border-color: var(--quaternary);
  }

  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .text-tertiary {
    color: var(--tertiary);
  }

  .text-quaternary {
    color: var(--quaternary);
  }
}

@layer base {}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}